html,
body {
  height: 100%;
  margin: 0;
}

.mascotjs {
  background-color: #aaaa00;
  border-radius: 30px;
  bottom: 30px;
  display: flex;
  margin: 10px 0 10px 10px;
  position: fixed;
  right: 30px;
}

.mascotjs .mascotjs-mascot {
  display: inline-block;
  max-height: 60px;
  max-width: 60px;
}

.mascotjs .mascotjs-title-wrapper {
  align-items: center;
  display: inline-flex;
}

.mascotjs .mascotjs-title-wrapper .mascotjs-title {
  color: #fff;
  max-width: 200px;
  padding-right: 10px;
}
