<!DOCTYPE html>
<html>
<head>
  <title>MascotJS</title>
  <%- include partials/meta.ejs %>
  <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
</head>

<body>
<!-- Header -->
<nav class="navbar navbar-toggleable-md navbar-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#header-navbar" aria-controls="header-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">MascotJS</a>

  <div class="collapse navbar-collapse" id="header-navbar">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">What is MascotJS?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/start">Getting Started</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/docs">Documentation</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">User Dashboard</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Hero -->
<section class="hero-section">
  <div class="hero">
    <div class="hero-content">
      <div class="hero-content-logo">
        <img src="/static/assets/mascot.png" />
        <div class="hero-content-text">
          <h1>MascotJS</h1>
          <h2>Put a friendly face on your website!</h2>
        </div>
      </div>
      <br />
      <a href="/about"><button type="button" class="btn btn-secondary btn-lg">Features</button></a>
      <a href="/dashboard"><button type="button" class="btn btn-primary btn-lg">I want a Mascot!</button></a>
    </div>
  </div>
</section>

<section class="overview">
  <div class="container">
    <h3>Why Mascots?</h3>
    <div class="row">
      <div class="col">
        Insert Picture
      </div>
      <div class="col">
        Insert Reasons
      </div>
    </div>
  </div>
</section>

<section class="footer">
  <div class="container">
    &copy; 2017 Angus Lam
  </div>
</section>

<!-- Scripts -->
<%- include partials/scripts.ejs %>
</body>
</html>
