<!DOCTYPE html>
<html>
<head>
  <title>MascotJS</title>
  <%- include partials/meta.ejs %>
  <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
</head>

<body>
<!-- Header -->
<nav class="navbar navbar-toggleable-md navbar-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#header-navbar" aria-controls="header-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">MascotJS</a>

  <div class="collapse navbar-collapse" id="header-navbar">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">What is MascotJS?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Getting Started</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Documentation</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">User Dashboard</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Hero -->
<section class="hero-section">
  <div class="hero">
    <div class="hero-content">
      <div class="hero-content-logo">
        <img src="/static/assets/mascot.png" title="That's me!" />
        <div class="hero-content-text">
          <h1>MascotJS</h1>
          <h2>Put a friendly face on your website!</h2>
        </div>
      </div>
      <br />
      <a href="/about"><button type="button" class="btn btn-secondary btn-lg" title="Learn more about what we offer!">Features</button></a>
      <a href="/dashboard"><button type="button" class="btn btn-primary btn-lg" title="Register for a free account!">I want a Mascot!</button></a>
    </div>
  </div>
</section>

<section class="overview" id="about">
  <div class="container">
    <h2>What is MascotJS?</h2>
    <div class="row">
      <div class="col">
        <img src="/static/assets/dashboard.png" class="img-fluid" />
      </div>
      <div class="col">
        <br />
        <br />
        <br />
        <h4>MascotJS is a dependency-free full service JavaScript/CSS plugin for your website that brings a lively character of your choosing to welcome your website visitors!</h4>
      </div>
    </div>

    <br />
    <br />
    <br />
    <h2>Mascots are Plug-n-Play</h2>
    <div class="row">
      <div class="col">
        <img src="/static/assets/demo.png" class="img-fluid" />
      </div>
      <div class="col">
        <br />
        <br />
        <br />
        <h4>Mascots are also designed to be fully plug and play. Mascots use pre-existing HTML5 attributes to find the elements you want them to narrate. No need to redesign your entire website to use the one new library!</h4>
      </div>
    </div>

    <br />
    <br />
    <br />
    <h2>Mascots are Free</h2>
    <div class="row">
      <div class="col">
        <img src="/static/assets/free.png" class="img-fluid" />
      </div>
      <div class="col">
        <br />
        <br />
        <br />
        <h4>You don't have to pay a single penny to get started with MascotJS! Sign up for a free account today!</h4>
        <a href="/dashboard"><button type="button" class="btn btn-primary btn-lg">Register!</button></a>
      </div>
    </div>
  </div>
</section>

<section class="footer">
  <div class="container">
    &copy; 2017 Angus Lam
  </div>
</section>

<!-- Scripts -->
<%- include partials/scripts.ejs %>
</body>
</html>
