<!DOCTYPE html>
<html>
<head>
  <title>Account | MascotJS</title>
  <%- include ../partials/meta.ejs %>
  <link rel="stylesheet" type="text/css" href="/static/styles/dashboard.css">
</head>

<body>
<%- include ../partials/dashboard/header.ejs %>

<div class="dashboard-background"></div>

<div class="container content-wrapper">
  <div class="content">
    <h1>Analytics</h1>

    <br />
    <br />
    <br />
    <br />

    <h5>Your Mascot can help you improve your website!</h5>
    <p>
      MascotJS Veteran is a subscription-based service that can help you analyze your website and find potential pain points, along with providing a few extra tools exclusive to Veteran MascotJSers.
    </p>
    <br />
    <h5>Features:</h5>
    <p>
      Find out how your site ranks compared to others.<br />
      Get detailed data on clicks, hovers, impressions, etc.<br />
      Guided SEO optimizations.<br />
      <br />

      Welcome your users with a guided tour from your Mascot.<br />
      More customizations to your Mascot to really make it fit your needs.
    </p>

    <h3>Upgrade to Veteran today and unlock your site's potential!</h3>
    <br />
    <button class="btn btn-primary btn-large" type="submit" disabled>Proceed</button>
  </div>
</div>

<%- include ../partials/scripts.ejs %>
</body>
